#contenedor-matricula{
    display: none;
}
 html, h1 {
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
  }
  nav .brand-logo{
      padding: 5px;
  }
  .containerView{
      
      height: 100%; 
      width: 50%; 
      margin-left: 25%; 
      background-color: white; 
      opacity: 0.9;
      padding:5px;
  }